<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppNet.Notificaciones.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <AppNet.Notificaciones.My.MySettings>
            <setting name="LookAndFeel" serializeAs="String">
                <value/>
            </setting>
            <setting name="PaintStyle" serializeAs="String">
                <value/>
            </setting>
            <setting name="MDBDirectory" serializeAs="String">
                <value>C:\Users\ferar\Google Drive\Proyectos\HLAG\Notificaciones</value>
            </setting>
            <setting name="MDBFileName" serializeAs="String">
                <value>dbNotifications.accdb</value>
            </setting>
            <setting name="SpeechEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </AppNet.Notificaciones.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGlobalService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25442/GlobalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGlobalService"
                contract="AppService.IGlobalService" name="BasicHttpBinding_IGlobalService" />
        </client>
    </system.serviceModel>
</configuration>
