<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMailBotServicesWCF" />
                <binding name="BasicHttpBinding_IMailBotServicesWCF1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vapps.dyndns-server.com:2451/MailBotServicesWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailBotServicesWCF"
                contract="MailBotServiceWCF.IMailBotServicesWCF" name="BasicHttpBinding_IMailBotServicesWCF" />
            <endpoint address="http://vapps.dyndns-server.com:2451/MailBotServicesWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailBotServicesWCF1"
                contract="AppService.IMailBotServicesWCF" name="BasicHttpBinding_IMailBotServicesWCF1" />
        </client>
    </system.serviceModel>
</configuration>